@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
*{
	outline: none !important;
}
body {
	color:#333;
	overflow-x: hidden;
	min-width: 320px;
	font-size: 16px;
	line-height: 1.6;
	background-color: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
}
.section-dark {
	background-color: #f0f0f0;
}
.fz22 {
	font-size: 22px;
}
.logo {
	display: block;
	width: 250px;
	margin-bottom: 5px;
}
.dropdown-menu {
	top: calc(100% + 16px);
	border-radius: 0;
	background: #333;
}
.dropdown .dropdown-menu .dropdown-item	{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.dropdown .dropdown-item:focus, .dropdown .dropdown-item:hover {
	background: #333;
	color:#FB8C00;
}
.logo img{
	max-width: 100%;
}
.section-title {
	text-align: center;
	color:#333;
	font-size: 42px;
}
.section-title::before {
	bottom: -10px;
	width: 80px;
	height: 4px;
    left: calc(50% - 40px);
}
.hero {
	padding: 322px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	flex-wrap: wrap;
	position: relative;	
}
.section-padding {
	padding: 50px 0;
}
.section-padding-top {
	padding: 50px 0 0 0;
}
.hero-heading {
	line-height: 1.45 !important;
	font-size: 48px;
	text-shadow: 0px 9px 10px #333333;
}
.hero:after,.page-title-slider-item:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:     rgba(0,0,0, 0.2);
    z-index: 1;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,.section-title,.page-title {
	font-family: 'Cinzel', serif;
	font-weight: bold;
}
.contact-title {
	font-weight: bold;
}
.hero h1,.hero h3{
	text-align: center;
	flex: 0 0 100%;
}
.hero-sub-heading {
	font-size: 24px;
	line-height: 1.45 !important;
	font-weight: bold;
}
.hero h3{
	/*margin-bottom: 70px;*/
	text-transform: uppercase;
	color: #fff;	
	/*text-shadow: 0px 9px 10px #333333; */
}
.hero-content {
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	z-index: 2;	
	background-color: rgba(0,0,0, 0.5);
	padding: 40px 0;
}
.google-stars i{
	display: inline-block;
	margin-right: 3px;
	color:#FB8C00;
}
.google-stars i:last-child{
	margin-right: 0;
}
.awwards {
	padding: 60px 0 0 0;
}
.awwards-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
}
.awwards-container {
	margin-right: 30px;
	text-align: center;
}
.awwards-container:last-child {
	margin-right: 0px;
}
.awwards-logo {
	width: 80px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
.awwards-logo img{
	width: 100%;
	height: auto;
}
.awwards-header {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.awwards-text {
	font-size: 16px;
}
.navbar-brand img {
	width: 270px;
}
.navbar {
	padding: 10px 0;
}
.nav-bg.top-nav-collapse{
	background: #2b2828;
}
.nav-bg {
	background: #2b2828;
}

.nav-bg .navbar-nav .nav-link{
	color:#fff !important;
}
.nav-bg .navbar-nav .nav-link i{
	margin-right: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 18px;
}
.hero__form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: #f7f7f7;
	padding: 50px 60px;
	align-items: center;
	-webkit-box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.5);
}
.hero__form .form-group {
	margin: 0 24px 0 0;
}
.hero__form .form-group .form-control{
	background-image: linear-gradient(#FB8C00, #FB8C00), linear-gradient(#cfcfcf, #cfcfcf);
}
.hero__form .form-group.is-focused label{
	color:#FB8C00;
}
.hero__form .form-group:last-child {
	margin-right: 0;
}
.btn-common {
	font-weight: 700 !important;
	padding: 20px 50px;
}
.btn-common.w100 {
	width: 100%;
}
.btn-common i{
	display: none;
}

.form-submit {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.form-submit .btn {
	margin: 0;
}
.form-submit .h3 {
	margin: 0;
}
.form-group {
	padding-bottom: 0;
}
.form-group .form-control  {
	margin-bottom: 0;
}
.form-group .checkbox label, .form-group .radio label, .form-group label {
	color:#333;
}
.form-control, .form-group .form-control {
	background-image: linear-gradient(#FB8C00, #FB8C00), linear-gradient(#cfcfcf, #cfcfcf);
}
.about-single i {
	font-size: 80px;
	height: 80px;
	width: 80px;
	line-height: 80px;
}
.types .container-fluid {
	padding: 0;
}
.types-container {
	/*padding: 50px 40px;*/
	color:#fff;
	/*position: relative;*/
/*	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;*/
	height: 400px;
/*	background-repeat: no-repeat;
	background-position: center;*/
	overflow: hidden;
	/*display: block;*/
}
.types-container:hover:after {
	opacity: 0.6;
}
.types-container.tour {
	/*background-image: url('../images/tour.jpg');*/
	justify-content: flex-end;
	margin: 0px 14px 14px 0px;
}
.types-container.tour .types__content,.types-container.special .types__content{
	text-align: right;
	right: 40px;
	bottom: 60px;
}
.types-container.picnic .types__content,.types-container.rent .types__content{
	left: 40px;
	bottom: 60px;
}
.types-container.rent{
	/*background-image: url('../images/rent.jpg');*/
	margin: 0px 0px 14px 14px;
}
/*.types-container.rent:after,.types-container.picnic:after{
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(11%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 11%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}*/
.types-container.special{
	/*background-image: url('../images/special.jpg');*/
	justify-content: flex-end;
	margin: 14px 14px 0px 0px;
}
.types-container.picnic{
	/*background-image: url('../images/picnic.jpg');*/
	margin: 14px 0px 0px 14px;
}
/*.types-container:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:     rgba(0,0,0, 0.6);
    opacity: 0.6;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(89%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 89%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );

    z-index: 1;
	transition: all ease 0.3s;
}*/
.types__content {
	z-index: 2;
	text-shadow: 0px 9px 10px #333333; 
	position: absolute;
}
.types__content-img {
	width: 100%;
	position: relative;
}
.types__content-header {
	font-family: 'Cinzel', serif;
	font-size: 28px;
	color:#fff;
	font-weight: 900;
	text-transform: uppercase;
}
.types__content-price {
	font-size: 24px;
	color:#fff;
	font-weight: 400;
}
.work-counter-widget i {
	font-size: 80px;
}
.testimonial {
	background-image: url('../images/bg.jpg');
}
.testimonial:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:     rgba(0,0,0, 0.6);
    z-index: 1;
}
.testimonials-carousel {
	z-index: 2;
	background: #fff;
	padding: 20px 0;
	-webkit-box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.5);
}
.testimonial-item {
	padding: 50px 40px;
}
.testimonial-item .img img {
	width: 80px;
	height: 80px;	
}
.testimonial-item .datils h5,.testimonial-item .datils p {
	color:#333;
}
.owl-carousel .owl-controls .owl-page span {
	background: #999;
}
.section-title.white {
	color:#fff;
}
.testimonials-header {
	z-index: 2;
}
.navbar-expand-lg > .container-fluid {
	padding: 0 40px;
}
.founder {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin: 30px 0;
}
.founder-container {
	margin-right: 40px;
}

.founder-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}
.founder-name {
	font-size: 20px;
	font-weight: bold;
}
.founder-role {
	color:#888;
	font-size: 14px;
}
.video-gallery img{
	width: 100%;
}
.footer-contact-widget ul li a .mdi-instagram {
	background: #e1306c;
}
.page-footer .footer-title {
	margin-bottom: 15px;
}
.page-tagline,.page-title {color:#fff;}
.page-title-section {
	background-image: none;
	position: relative;	
	background-color: #fff;
	padding-bottom: 0;	
	padding-top: 0;
}
.title-center {
	background-color: rgba(0,0,0, 0.5);
	padding: 40px 0;
}
.page-title-section .title-center {
	padding-top: 40px;
}
.page-title-section .title-center,
.call-to-action-section .container
 {
	z-index: 2;	
	position: relative;	
	text-align: center;
	/*text-shadow: 0 0 30px rgba(0, 0, 0, 0.75);*/
	color:#fff;
}
.title-center.short {
	background: none;
	color:#333;
	padding-top: 130px;
}
.title-center.short .page-tagline,.title-center.short  .page-title{
	background: none;
	color:#333;
}

.page-footer .widget {
	margin-top: 0;
}
.call-to-action-section {
	padding-bottom: 0;
	background: none;
}
.call-to-action-section a,.call-to-action-section .fz22{
	color:#fff;
	text-transform: uppercase;
}
.contact-widget-section .single-contact-widget p {
	line-height: 1.6;
}
.rental-price-wrapper {
	margin-top: 20px;
	text-align: center;
}
.rental-price-wrapper.ebikes{
	text-align: left;
}
.rental-price-container {
	text-align: center;
	display: inline-block;
	margin-right: 10px;
}
.rental-price-head {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 5px;
	font-style: italic;
	border-bottom: 1px solid #e6e6e6;
}
.rental-price {
	font-size: 18px;
	text-align: center;
/*	width: 50px;
	height: 50px;
	line-height: 49px;*/
	font-weight: bold;
	/*border-radius: 50%;*/
	/*border: 2px solid #fb8c00;*/
	color:#fb8c00;
}
.founder {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin: 30px 0;
}
.founder-container {
	margin-right: 40px;
}
.founder-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}
.founder-name {
	font-size: 20px;
	font-weight: bold;
}
.founder-role {
	color:#888;
	font-size: 14px;
}
.video-gallery img{
	width: 100%;
}
.footer-contact-widget ul li a .mdi-instagram {
	background: #e1306c;
}
.icon-table .single-pricing-table {
	background: #fff;
}
.icon-table .single-pricing-table.index {
	padding-bottom: 50px;
}
.icon-table .single-pricing-table .price .price-item span{
	font-size: 24px;
	font-weight: normal;
}
.icon-table .single-pricing-table .price .price-item .price-item-container {
	display: inline-block;
	font-size: 26px;
	color: #fff;
}
.icon-table .single-pricing-table .price .price-item .price-item-container:last-child {
	margin-left: 10px;
}
.icon-table .single-pricing-table .price .price-item.old .price-item-container{
	text-decoration: line-through;
	color:#888 !important;
}
.price-item.old {
	margin-bottom: 15px;
}
.icon-table .single-pricing-table .price .price-item.old .price-item-container span{
	color:#888 !important;
}
.icon-table .single-pricing-table .price span.price-item-type {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}
.icon-table .single-pricing-table .price {
	margin-top: 0;
}
.price-item.special {
	background-color: #FB8C00;
	margin: 0 -20px;
	padding: 10px 0;
	margin-bottom: 20px;
}
.price-item.special span{
	color:#fff;
}
.price-item-head {
	color:#fff;
	font-size: 30px;
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
	font-weight: 700;
}
.price-item-head strong{
	font-weight: 700;
}
.icon-table .single-pricing-table .pricing-table-heading h2,.icon-table .single-pricing-table .pricing-item ul li p strong {
	font-weight: bold;
	color:#333;
}
.pricing-button  {
	position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
}
.pricing-button .btn {
	/*width: 100%;*/
}
.icon-table .single-pricing-table {
	padding-top: 0;
}
.icon-table .single-pricing-table .pricing-button {
	padding: 0;
}

.pricing-icon {
	margin: -20px -20px 0 -20px;
	height: 305px;
	overflow: hidden;
	position: relative;
}
.pricing-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.pricing-item ul {
	text-align: left;
}
.pricing-item ul li p {
	margin-bottom: 0.5rem;
}
.pricing-hours {
	margin: 15px 0;
}
.pricing-hours a {
	margin-right: 10px;
	display: inline-block;
	padding: 5px 10px;
	font-size: 18px;
	border-radius: 4px;
	border:1px solid #FB8C00;
}
.pricing-hours a.active {
	color:#fff;
	background: #FB8C00;
}
.pricing-hours a:last-child {
	margin-right: 0px;
}
.icon-table .single-pricing-table {
	height: 100%;
    position: relative;
    padding-bottom: 100px;
}
ol li {
	margin-bottom: 10px;
}
.locations-img {
	margin: 0 -20px;
	overflow: hidden;
	height: 270px;
}
.locations-img img{
	object-fit: cover;
}
.testimonial.no-bg {
	background: none;
	color:#333 !important;
}
.testimonial.no-bg .testimonials-carousel{
	-webkit-box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.1);
	box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.1);
}
.testimonial.no-bg:after {
	display: none;
}
.call-to-action-section {
	padding-bottom: 50px;
}
.call-to-action-section .h1,.call-to-action-section a{
	color:#333;
}
.bikes-carousel{
	padding: 40px 0;
	background-color: #fff;
}
.bikes-container {
	padding: 40px 0;
}
.Material-tab-default .tab-content {
	background-color: #fff;
}
.Material-tab-default .nav-tabs .nav-item.show .nav-link, .Material-tab-default .nav-tabs .nav-link.active {
	color:#333;
	border-bottom: 2px solid #FB8C00 !important;
	background: transparent;
}
.Material-tab-default ul.nav.nav-tabs li a:hover{
	color:#333 !important;
}
.bikes-carousel .owl-buttons div,.picnic-carousel .owl-buttons div{
	position: absolute;
	top:calc(50% - 40px);
}
.bikes-carousel .owl-buttons .owl-prev,.picnic-carousel .owl-buttons .owl-prev{
	left: 0;
}
.bikes-carousel .owl-buttons .owl-next,.picnic-carousel .owl-buttons .owl-next{
	right: 0;
}
.form__container.inline{margin-right: 20px;}
.form__container label{display: block;font-size: 16px;margin-bottom: 0; color:#333;}
.form__container select{
	font-size: 16px;
}
.form__container .btn{
	height: 42px;
}
.form__container.inline .btn{
	margin-bottom: 0;
	margin-top: 0;
}
.form__container-input{
    height: 42px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    color:#333;
    padding: 0 18px;
}
.nice-select {font-size: 16px; border:1px solid #cfcfcf ;}
.shadow-card {
	background: #fff;
	padding: 50px 0;
    -webkit-box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.1);
    box-shadow: 0px 12px 31px -1px rgba(0,0,0,0.1);	
}
.nav-item-phone {
	display: inline-block;
}
.header-phone-mobile {
	display: none;
	left: calc(50% - 70px);
	top: 30px;
	position: absolute;
	font-weight: bold;
	font-size: 18px;
	color:#fff;
}
.slicknav_menu ul {background-color: #2b2828;padding: 30px 0;}
.slicknav_nav a:hover, .slicknav_nav .active {
	color:#FB8C00;
}
.slicknav_nav a {
	color:#fff;
}
.slicknav_nav .dropdown li a.active {
	background: none;
	color:#FB8C00;
}
.slicknav_nav .slicknav_arrow {
	background: #FB8C00;

}
.slicknav_nav .slicknav_arrow i {
	color:#333;
}

.page-title-slider-item {
	position: relative;
}
.page-title-slider-item img {
	width: 100%;
	height: auto;
}
.page-title-slider-item .page-title-slider-content{
	position: absolute;
	width: 100%;	
	text-align: center;	
	top: calc(50% - 120px);
}
.free-with-bike {
	width: 90px;
	margin-right: 15px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	/*font-weight: bold;*/
}
.free-with-bike img{
	margin-bottom: 20px;
}
.free-with-bike:last-child {
	margin-right: 0;
}
.fareharbor-table {
	margin-bottom: 20px;
}
/**************************************media***************/

@media (max-width: 1300px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		font-size: 16px;
	}
}
@media (max-width: 1216px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		font-size: 14px;
	}
}
@media (max-width: 1150px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		margin-left: 10px; 
	}
	.icon-table .single-pricing-table {
		height: auto;
		margin-bottom: 44px;
	}
	.icon-table .col-lg-6:last-child .single-pricing-table {
		margin-bottom: 0;
	}
	.locations-img img {
		width: 100%;
	}
	.hero {
		padding: 162px 0;
		background-size: contain;
	}
	.hero:after {
		display: none;
	}
}
@media (max-width: 992px) {

	body {
		font-size: 14px;
	}
	.types__content-header {
		font-size: 21px;
	}
	.types__content-price {
		font-size: 20px;
	}
	.types__content-img {
		margin-bottom: 30px;
	}
	.types-container.tour .types__content, .types-container.special .types__content {
		text-align: left;
		right: auto;
		left:40px;
	}
	.page-title-slider-item img {
		width: 100%;
		height: auto;
		margin-top: 80px;
		display: block;
	}
	.page-title-slider-item .page-title-slider-content {
		position: relative;
	}
	.hero::after, .page-title-slider-item::after {
		display: none;
	}
	.title-center {
		background: none;
		padding-bottom: 0;	
	}
	.page-tagline, .page-title {
		color:#333;
	}
	.picnic-img {
		margin-bottom: 24px;
	}
	.header-phone-mobile {
		display: inline-block;
	}

	.nav-item-phone {
		display: none;
	}
	.hero-heading,h1,.h1 {
    	font-size: 22px;
	}
	.hero-sub-heading,.h2,h3,.h3,h4,.h4,h5,.h5 {
		font-size: 20px;
	}
	.navbar-expand-lg > .container-fluid {
		padding: 0 15px;
	}
	.navbar-brand {
		top: 0;
		width: 70px;
		overflow: hidden;
		margin-right: 0;
		padding: 0;
	}
	.section-title {
		font-size: 22px;
		margin-bottom: 30px;
	}
	.awwards-container,.about-single {
		margin-top: 30px;
	}
	.welcome-column,.footer-contact-widget {
		margin-bottom: 30px;
	}
	.section-title.white {
		color:#333;
	}
	.testimonial {
		background: none;
	}
	.testimonial::after {display: none;}
}

@media (max-width: 770px) {

	.navbar-brand {
		top: 9px;
	}
	.types__content-header {
		font-size: 28px;
	}
	.types__content-price {
		font-size: 24px;
	}

	.types-container.rent,.types-container.picnic {
		margin: 14px 0;
	}
	.awwards-mobile {
		display: none;
	}
}
@media (max-width: 560px) {

	.types__content-header {
		font-size: 21px;
	}
	.types__content-price {
		font-size: 20px;
	}
	.types-container {
		margin: 0px 0px 15px 0px !important;
	}
	.hero {
	    padding: 251px 0 0 0;
	    background-position: center 87px;
	}
	.hero-content {
	    padding: 15px 0;	
	}

	.google-stars i{
		margin-right: 0;
		font-size: 18px;
	}
}